<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name='description' content='{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}'>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  
  <link href="https://fonts.googleapis.com/css?family=Ma+Shan+Zheng:400,700">
  <link rel="dns-prefetch" href="//fonts.googleapis.com" />
  <link rel="dns-prefetch" href="//fonts.gstatic.com" />
  <link rel="dns-prefetch" href="//ajax.googleapis.com" />
  <link rel="dns-prefetch" href="//apis.google.com" />
  <link rel="dns-prefetch" href="//pagead2.googlesyndication.com" />
  <link rel="dns-prefetch" href="//googleads.g.doubleclick.net" />
  <link rel="dns-prefetch" href="//tpc.googlesyndication.com" />
  <link rel="dns-prefetch" href="//google-analytics.com" />
  <link rel="dns-prefetch" href="//www.google-analytics.com" />
  <link rel="dns-prefetch" href="//ssl.google-analytics.com" />
  <link rel="dns-prefetch" href="//youtube.com" />
  <link rel="dns-prefetch" href="//disqus.com" />
  <link rel="dns-prefetch" href="//c.disquscdn.com" />
  <link rel="dns-prefetch" href="//scontent.cdninstagram.com" />
  <link rel="dns-prefetch" href="//unpkg.com" />
  <link rel="dns-prefetch" href="//api.pinterest.com" />
  <link rel="dns-prefetch" href="//connect.facebook.net" />
  <link rel="dns-prefetch" href="//platform.twitter.com" />
  <link rel="dns-prefetch" href="//syndication.twitter.com" />
  <link rel="dns-prefetch" href="//syndication.twitter.com" />
  <link rel="dns-prefetch" href="//platform.instagram.com" />
  <!-- Ionicons -->
  <link href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css" rel="stylesheet">

  <style>
  {% capture include_to_scssify %}
    {% include main.scss %}
  {% endcapture %}
  {{ include_to_scssify | scssify }}
  </style>
</head>
